<main>
  <section class="registration">
    <h2>Mute user</h2>

    <form class="registration-form" action="/ban" method="post">
      <input id="username1" name = "username" type="text" placeholder="Username" />
      <input id="ban" value="Ban" type="submit" />
    </form>
    <form class="registration-form" action="/Lift" method="post">
      <input id="username2" name = "username" type="text" placeholder="Username" />
      <input id="lift" value="Lift" type="submit" />
    </form>
  </section>
</main>
</body>
