<main>
  <section class="registration">
    <h2>Log in</h2>
    <p>Don't have an account? <a href="/register">Register</a></p>

    <form class="registration-form" action="/ban" method="post">
      <input name = "username" type="text" placeholder="Username" />
      <input value="Ban" type="submit" />
    </form>
    <form class="registration-form" action="/Lift" method="post">
      <input name = "username" type="text" placeholder="Username" />
      <input value="Lift" type="submit" />
    </form>
  </section>
</main>
</body>
