    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a id="sHTML-int" href="/HTML-int">HTML intro</a></li>
                  <li><a id="sHTML-tut" href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a id="sCSS-int" href="/CSS-int">CSS intro</a></li>
                  <li><a  id="sCSS-tut" href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a id="sJS-int" href="/JS-int">JS intro</a></li>
                  <li><a id="sJS-tut" href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a id="sPB-int" href="/PB-int">Python/Bottle intro</a></li>
                  <li><a id="sPB-tut" href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a id="sPHP-int" href="/PHP-int">PHP intro</a></li>
                  <li><a id="sPHP-tut" href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a id="sSQL-int" href="/SQL-int">SQL intro</a></li>
                  <li><a id="sSQL-tut" href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a id="sMysql-int" href="/Mysql-int">MySQL intro</a></li>
                  <li><a id="sMysql-tut" href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a id="sSQLite-int" href="/SQLite-int">SQLite intro</a></li>
                  <li><a id="sSQLite-tut" href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
        <h2>What is CSS?</h2>
        <p>CSS stands for Cascading Style Sheets and it is the language used to style the visual presentation of web pages. CSS is the language that tells web browsers how to render the different parts of a web page.</p>
        <p>Every item or element on a web page is part of a document written in a markup language. In most cases, HTML is the markup language, but there are other languages in use such as XML. Throughout this guide we will use HTML to demonstrate CSS in action, just keep in mind that the same principles and techniques apply if you're working with XML or a different markup language.</p>
        <h3>How is CSS Different From HTML?</h3>
        <p>The first thing to understand when approaching the topic of CSS is when to use a styling language like CSS and when to use a markup language such as HTML.</p>
        <p style="margin-bottom: 0cm;">All critical website <em>content</em> should be added to the website using a markup language such as HTML.</p>
        <p><em>Presentation</em> of the website content should be defined by a styling language such as CSS.</p>
        <p>Blog posts, page headings, video, audio, and pictures that are not part of the web page presentation should all be added to the web page with HTML. Background images and colors, borders, font size, typography, and the position of items on a web page should all be defined by CSS.</p>
        <p>It's important to make this distinction because failing to use the right language can make it difficult to make changes to the website in the future and create accessibility and usability issues for website visitors using a text-only browser or screen reader.</p>
        <h2>What Can CSS Do?</h2>
        <p>A better question might be: &ldquo;What can't CSS do?&rdquo;</p>
        <p>CSS can be used to turn an HTML document into a professional, polished design. Here are a few of the things you can accomplish wish CSS:</p>
        <p>Create a flexible grid for designing fully responsive websites that render beautifully on any device.</p>
        <p> Style everything from typography, to tables, to forms, and more.</p>
        <p> Position elements on a web page relative to one another using properties such as <code class="western">float</code>, <code class="western">position</code>, <code class="western">overflow</code>, <code class="western">flex</code>, and <code class="western">box-sizing</code>.</p>
        <p> Add background images to any element.</p>
        <p>Create shapes, interactions, and animations.</p>
        <p>These concepts and techniques go beyond the scope of this introductory guide, but the following resources will help you tackle these more advanced topics.</p>
     </div>
    </main>
  </body>
</html>
