    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a href="/HTML-int">HTML intro</a></li>
                  <li><a href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a href="/CSS-int">CSS intro</a></li>
                  <li><a  href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a href="/JS-int">JS intro</a></li>
                  <li><a href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a href="/PB-int">Python/Bottle intro</a></li>
                  <li><a href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a href="/PHP-int">PHP intro</a></li>
                  <li><a href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a href="/SQL-int">SQL intro</a></li>
                  <li><a href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a href="/Mysql-int">MySQL intro</a></li>
                  <li><a href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a href="/SQLite-int">SQLite intro</a></li>
                  <li><a href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
        <h2>An Example of CSS Syntax</h2>
        <p>Let's use a block of CSS to clarify what each of these items is.</p>
        <pre>&lt;color: red; font-size: 3em; text-decoration: underline;&gt;</pre>
        <p>In this example, h1 is the selector. The selector is followed by a declaration block that includes three declarations. Each declaration is separated from the next by a semicolon. The tabs and line breaks are optional but used by most developers to make the CSS code more human-readable.
By using h1 as the selector, we are saying that every level 1 heading on the web page should follow the declarations contained in this ruleset.
</p>
        <h3>The ruleset contains three declarations:</h3>
        <p>color:red; </p>
        <p>font-size: 3em;</p>
        <p>text-decoration: underline; </p>
        <p>color, font-size, and text-decoration are all properties. There are literally hundreds of CSS properties you can use, but only a few dozen are commonly used.</p><p>
We applied the values red, 3em, and underline to the properties we used. Each CSS property is defined to accept values formatted in a specific way.</p><p>
For the color property we can either use a color keyword or a color formula in Hex, RGB, or HSL format. In this case, we used the color keyword red. There are a few dozen color keywords available in CSS3, but millions of colors can be accessed with the other color models.</p><p>
We applied the value of 3em to the property font-size. There are a wide range of size units we could have used including pixels, percentages, and more.</p><p>
Finally, we added the value underline to the property text-decoration. We could have also used overline or line-through as values for text-decoration. In addition, CSS3 allows for the use of the line-styles solid, double, dotted, dashed, and wavy was well the specification of text-decoration colors. We could have applied all three values at once by using a declaration like this:
text-decoration: blue double underline;</p><p>
That rule would cause the h1 in our initial example to be underlined with a blue double line. The text itself would remain red as defined in our color property.
 </p>
        <p>Presentation of the website content should be defined by a styling language such as CSS. </p>
        <p>Blog posts, page headings, video, audio, and pictures that are not part of the web page presentation should all be added to the web page with HTML. Background images and colors, borders, font size, typography, and the position of items on a web page should all be defined by CSS.
It's important to make this distinction because failing to use the right language can make it difficult to make changes to the website in the future and create accessibility and usability issues for website visitors using a text-only browser or screen reader.
</p>
<p>https://html.com/css/</p>
      </div>
    </main>
  </body>
</html>
