<main>
  <section class="main-page-section">
    <a class="main-page-subheading" href="/Database">Databases</a>

    <nav class="main-page-link-group">
      <a class="main-page-block-link" href="SQL-int">
        <h3 class="main-page-block-link-title">SQL</h3>
        <p class="main-page-block-link-description">SQL stands for Structured Query Language. SQL is used to communicate with a database.</p>
        <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
      </a>

      <a class="main-page-block-link" href="/Mysql-int">
        <h3 class="main-page-block-link-title">MySQL</h3>
        <p class="main-page-block-link-description">MySQL ("My S-Q-L") is an open source relational database management system (RDBMS).</p>
        <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
      </a>

      <a class="main-page-block-link" href="/SQLite-int">
        <h3 class="main-page-block-link-title">SQLite</small></h3>
        <p class="main-page-block-link-description">SQLite is a popular choice as embedded database software for local/client storage in application software such as web browsers.</p>
        <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
      </a>
    </nav>
  </section>
</main>
</body>
