    <main>
      <section class="main-page-section">
        <a class="main-page-subheading" href="/Front-end">Front-end</a>

        <nav class="main-page-link-group">
          <a class="main-page-block-link" href="/HTML-int">
            <h3 class="main-page-block-link-title">HTML <small>Hypertext Markup Language</small></h3>
            <p class="main-page-block-link-description">The standard markup language for creating web pages and web applications.</p>
            <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
          </a>

          <a class="main-page-block-link" href="/CSS-int">
            <h3 class="main-page-block-link-title">CSS <small>Cascading Style Sheets</small></h3>
            <p class="main-page-block-link-description">A style sheet language that adjusts layouts, colours, and fonts of your website.</p>
            <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
          </a>

          <a class="main-page-block-link" href="/JS-int">
            <h3 class="main-page-block-link-title">JS <small>JavaScript</small></h3>
            <p class="main-page-block-link-description">A high-level, interpreted programming language that enables interactive web pages.</p>
            <i class="main-page-block-link-arrow fas fa-arrow-right"></i>
          </a>
        </nav>
      </section>
    </main>
  </body>
</html>
