<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <css src="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="js/script_head.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>WebHub</title>
</head>

<body>
  <header class="site-header">
    <a class="logo" id="home" href="/home">WebHub</a>

    <div class="site-header-content">
      <nav class="account-nav">
        <a class="account-nav-link" id="user" href="/user">Profile</a>
        <a class="account-nav-link" id="sendmessage" href="/sendmessage">Write message</a>
        <a class="account-nav-link" id="messagebox" href="/messagebox">Inbox</a>
        <a class="account-nav-link" id="allmessages" href="/allmessages">All messages</a>
        <a class="account-nav-link" id="banuser" href="/banuser">Mute user</a>
        <a class="account-nav-link" id="logout" href="/logout">Log out</a>
      </nav>

      <nav class="site-nav">
        <div class="site-nav-item">
          <a class="site-nav-item-title" id="Front-end" href="/Front-end">Front-end</a>
          <div class="site-nav-item-content">
            <div class="site-nav-item-content-group">
              <div class="site-nav-item-content-group-title">HTML</div>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="HTML-int" href="/HTML-int">HTML intro</a>
                <a class="site-nav-item-content-group-link" id="HTML-tut" href="/HTML-tut">HTML tutorial</a>
              </div>
            </div>

            <div class="site-nav-item-content-group">
              <div class="site-nav-item-content-group-title">CSS</div>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="CSS-int" href="/CSS-int">CSS intro</a>
                <a class="site-nav-item-content-group-link" id="CSS-tut" href="/CSS-tut">CSS tutorial</a>
              </div>
            </div>

            <div class="site-nav-item-content-group">
              <div class="site-nav-item-content-group-title">JS</div>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="JS-int" href="/JS-int">JS intro</a>
                <a class="site-nav-item-content-group-link" id="JS-tut" href="/JS-tut">JS tutorial</a>
              </div>
            </div>
          </div>
        </div>

        <div class="site-nav-item">
          <a class="site-nav-item-title" id="Back-end" href="/Back-end">Back-end</a>

          <div class="site-nav-item-content">
            <div class="site-nav-item-content-group">
              <a class="site-nav-item-content-group-title" >Python/Bottle</a>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="PB-int" href="/PB-int">Python/Bottle intro</a>
                <a class="site-nav-item-content-group-link" id="PB-tut" href="/PB-tut">Python/Bottle tutorial</a>
              </div>
            </div>

            <div class="site-nav-item-content-group">
              <a class="site-nav-item-content-group-title" >PHP</a>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="PHP-int" href="/PHP-int">PHP intro</a>
                <a class="site-nav-item-content-group-link" id="PHP-tut" href="/PHP-tut">PHP tutorial</a>
              </div>
            </div>
          </div>
        </div>

        <div class="site-nav-item">
          <a class="site-nav-item-title" id="Database" href="/Database">Database</a>

          <div class="site-nav-item-content">
            <div class="site-nav-item-content-group">
              <a class="site-nav-item-content-group-title" >SQL</a>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="SQL-int" href="SQL-int">SQL intro</a>
                <a class="site-nav-item-content-group-link" id="SQL-tut" href="SQL-tut">SQL tutorial</a>
              </div>
            </div>

            <div class="site-nav-item-content-group">
              <a class="site-nav-item-content-group-title" >MySQL</a>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="Mysql-int" href="/Mysql-int">MySQL intro</a>
                <a class="site-nav-item-content-group-link" id="Mysql-tut" href="/Mysql-tut">MySQL tutorial</a>
              </div>
            </div>

            <div class="site-nav-item-content-group">
              <a class="site-nav-item-content-group-title" >SQLite</a>
              <div class="site-nav-item-content-group-links">
                <a class="site-nav-item-content-group-link" id="SQLite-int" href="/SQLite-int">SQLite intro</a>
                <a class="site-nav-item-content-group-link" id="SQLite-tut" href="/SQLite-tut">SQLite tutorial</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
