    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a href="/HTML-int">HTML intro</a></li>
                  <li><a href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a href="/CSS-int">CSS intro</a></li>
                  <li><a  href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a href="/JS-int">JS intro</a></li>
                  <li><a href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a href="/PB-int">Python/Bottle intro</a></li>
                  <li><a href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a href="/PHP-int">PHP intro</a></li>
                  <li><a href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a href="/SQL-int">SQL intro</a></li>
                  <li><a href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a href="/Mysql-int">MySQL intro</a></li>
                  <li><a href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a href="/SQLite-int">SQLite intro</a></li>
                  <li><a href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
      <h2>The History of HTML</h2>

      <p>HTML was first created by Tim Berners-Lee, Robert Cailliau, and others starting in 1989. It stands for Hyper Text Markup Language. Hypertext means that the document contains links that allow the reader to jump to other places in the document or to another document altogether. The latest version is known as HTML5. A Markup Language is a way that computers speak to each other to control how text is processed and presented. To do this HTML uses two things: tags and attributes.</p>

      <h3>What are Tags and Attributes?</h3>

      <p>Tags and attributes are the basis of HTML. They work together but perform different functions – it is worth investing 2 minutes in differentiating the two.</p>

      <h4>What Are HTML Tags?</h4>
      <p>Tags are used to mark up the start of an HTML element and they are usually enclosed in angle brackets. An example of a tag is: <code>&lt;h1&gt;</code>.
      Most tags must be opened <code>&lt;h1&gt;</code> and closed <code>&lt;/h1&gt;</code> in order to function.

      <h4>What are HTML Attributes?</h4>
      <p>Attributes contain additional pieces of information. Attributes take the form of an opening tag and additional info is placed inside.
      An example of an attribute is:</p>

      <pre>&lt;img src="mydog.jpg" alt="A photo of my dog."&gt;</pre>

      <p>In this instance, the image source (src) and the alt text (alt) are attributes of the <code>&lt;img&gt;</code> tag.</p>

      <h3>Golden Rules To Remember</h3>
      <p>The vast majority of tags must be opened (<code>&lt;tag&gt;</code>) and closed (<code>&lt;/tag&gt;</code>) with the element information such as a title or text resting between the tags.</p>

      <p>When using multiple tags, the tags must be closed in the order in which they were opened. For example:</p>

       <pre>&lt;strong&gt;&lt;em&gt;This is really important!&lt;/em&gt;&lt;/strong&gt;</pre>

       <p class="attribution">Copied from Source: https://html.com/</p>
     </div>
    </main>
  </body>
</html>
