    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a href="/HTML-int">HTML intro</a></li>
                  <li><a href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a href="/CSS-int">CSS intro</a></li>
                  <li><a  href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a href="/JS-int">JS intro</a></li>
                  <li><a href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a href="/PB-int">Python/Bottle intro</a></li>
                  <li><a href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a href="/PHP-int">PHP intro</a></li>
                  <li><a href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a href="/SQL-int">SQL intro</a></li>
                  <li><a href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a href="/Mysql-int">MySQL intro</a></li>
                  <li><a href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a href="/SQLite-int">SQLite intro</a></li>
                  <li><a href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
      <h2>MySQL INTRO</h2>
      <h3>What is MySQL?</h3>
      <ul>
        <li>MySQL is a database system used on the web</li>
        <li>MySQL is a database system that runs on a server</li>
        <li>MySQL is ideal for both small and large applications</li>
        <li>MySQL is very fast, reliable, and easy to use</li>
        <li>MySQL uses standard SQL</li>
        <li>MySQL compiles on a number of platforms</li>
        <li>MySQL is free to download and use</li>
        <li>MySQL is developed, distributed, and supported by Oracle Corporation</li>
        <li>MySQL is named after co-founder Monty Widenius's daughter: My</li>
      </ul>
      <p>The data in a MySQL database are stored in tables. A table is a collection of related data, and it consists of columns and rows.</p>
<p>Databases are useful for storing information categorically. A company may have a database with the following tables:</p>
<p>Employees</p>
<p>Products</p>
<p>Customers</p>
<p>Orders</p>
      <h3>Facts About MySQL Database</h3>
      <p>MySQL is the de-facto standard database system for web sites with HUGE volumes of both data and end-users (like Facebook, Twitter, and Wikipedia).
Another great thing about MySQL is that it can be scaled down to support embedded database applications.
Look at http://www.mysql.com/customers/ for an overview of companies using MySQL.
</p>
      <p>https://www.w3schools.com/sql/sql_and_or.asp</p>
     </div>
    </main>
  </body>
</html>
