    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a href="/HTML-int">HTML intro</a></li>
                  <li><a href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a href="/CSS-int">CSS intro</a></li>
                  <li><a  href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a href="/JS-int">JS intro</a></li>
                  <li><a href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a href="/PB-int">Python/Bottle intro</a></li>
                  <li><a href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a href="/PHP-int">PHP intro</a></li>
                  <li><a href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a href="/SQL-int">SQL intro</a></li>
                  <li><a href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a href="/Mysql-int">MySQL intro</a></li>
                  <li><a href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a href="/SQLite-int">SQLite intro</a></li>
                  <li><a href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
        <h2>PHP Intro</h2>
        <h3>What is PHP?</h3>
        <ul>
            <li>PHP is an acronym for "PHP: Hypertext Preprocessor"</li>
            <li>PHP is a widely-used, open source scripting language</li>
            <li>PHP scripts are executed on the server</li>
            <li>PHP is free to download and use</li>
            <li>PHP is a powerful Website scripting language that makes it easier for Website</li>
        </ul>
        <P>developers to create dynamic and engaging Web pages. Developers can use PHP code with a number of Web site templates and frameworks for improved functionality and features. However, writing PHP code can be a tedious and time-consuming process. In order to reduce development time, developers can use PHP libraries instead of writing code to add features to the site.</p>
        <h3>PHP library</h3>
        <p>Using PHP libraries instead of writing the code can considerably reduce Web site development time, thereby allowing developers to focus on other important aspects of the Web site design.</p>
        <p>Here we have compiled a list of the 15 best PHP libraries that will help Website developers increase the functionality of their sites easily and optimize PHP development time. </p>
        <p >Copied from Source: https://www.blog.pythonlibrary.org/2012/07/18/python-a-simple-step-by-step-sqlite-tutorial/
        https://www.programmableweb.com/news/15-best-php-libraries-every-developer-should-know/analysis/2015/11/18
        https://www.tutorialspoint.com/php/php_introduction.htm
        </p>
     </div>
    </main>
  </body>
</html>
