<main>
  <section class="registration">
    <h2>Create an account</h2>
    <p>Already have an account? <a href="/login">Log in</a>.</p>

    <form class="registration-form" action="/register" method="post">
      <input name="username" type="text" placeholder="Username" />
      <input name="password" type="password" placeholder="Password (At least 8)" />
      <input name="password2" type="password" placeholder="Confirm password" />
      <input id="registerbutton" value="Register" type="submit" />

    </form>
  </section>
</main>
</body>
