    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a href="/HTML-int">HTML intro</a></li>
                  <li><a href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a href="/CSS-int">CSS intro</a></li>
                  <li><a  href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a href="/JS-int">JS intro</a></li>
                  <li><a href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a href="/PB-int">Python/Bottle intro</a></li>
                  <li><a href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a href="/PHP-int">PHP intro</a></li>
                  <li><a href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a href="/SQL-int">SQL intro</a></li>
                  <li><a href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a href="/Mysql-int">MySQL intro</a></li>
                  <li><a href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a href="/SQLite-int">SQLite intro</a></li>
                  <li><a href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
        <h2>SQL introduction</h2>
        <p>SQL is a database computer language designed for the retrieval and management of data in a relational database. SQL stands for Structured Query Language. This tutorial will give you a quick start to SQL. It covers most of the topics required for a basic understanding of SQL and to get a feel of how it works.</p>
        <h3>What is SQL?</h3>
        <ul>
          <li>SQL stands for Structured Query Language</li>
<li>SQL lets you access and manipulate databases</li>
<li>SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987
</li>
        </ul>
        <h3>What can SQL do?</h3>
        <ul>
          <li>SQL can execute queries against a database</li>
<li>SQL can insert records in a database</li>
<li>SQL can update records in a database</li>
<li>SQL can delete records from a database</li>
<li>SQL can create new databases</li>
<li>SQL can create new tables in a database</li>
<li>SQL can create stored procedures in a database</li>
<li>SQL can create views in a database</li>
<li>SQL can set permissions on tables, procedures, and views
          </li>
        </ul>
        <p>Copied from Source: https://www.w3schools.com/sql/</p>
     </div>
    </main>
  </body>
</html>
