    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a id="sHTML-int" href="/HTML-int">HTML intro</a></li>
                  <li><a id="sHTML-tut" href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a id="sCSS-int" href="/CSS-int">CSS intro</a></li>
                  <li><a  id="sCSS-tut" href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a id="sJS-int" href="/JS-int">JS intro</a></li>
                  <li><a id="sJS-tut" href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a id="sPB-int" href="/PB-int">Python/Bottle intro</a></li>
                  <li><a id="sPB-tut" href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a id="sPHP-int" href="/PHP-int">PHP intro</a></li>
                  <li><a id="sPHP-tut" href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a id="sSQL-int" href="/SQL-int">SQL intro</a></li>
                  <li><a id="sSQL-tut" href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a id="sMysql-int" href="/Mysql-int">MySQL intro</a></li>
                  <li><a id="sMysql-tut" href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a id="sSQLite-int" href="/SQLite-int">SQLite intro</a></li>
                  <li><a id="sSQLite-tut" href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
      <h3>SQL tutorial</h3>
      <p>RDBMS stands for Relational Database Management System.</p>

<p>RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.</p>

<p>The data in RDBMS is stored in database objects called tables. A table is a collection of related data entries and it consists of columns and rows.</p>

<p>Look at the "Customers" table:</p>
<pre>SELECT * FROM Customers;</pre>
<p>Every table is broken up into smaller entities called fields. The fields in the Customers table consist of CustomerID, CustomerName, ContactName, Address, City, PostalCode and Country. A field is a column in a table that is designed to maintain specific information about every record in the table.</p>

<p>A record, also called a row, is each individual entry that exists in a table. For example, there are 91 records in the above Customers table. A record is a horizontal entity in a table.</p>

<p>A column is a vertical entity in a table that contains all information associated with a specific field in a table.</p>
<p >Copied from https://www.w3schools.com/sql/sql_intro.asp</p>
     </div>
    </main>
  </body>
</html>
