    <main class="content">
      <aside class="content-sidebar">
        <nav class="content-nav">
            <ul>
              <li>
                HTML
                <ul>
                  <li><a id="sHTML-int" href="/HTML-int">HTML intro</a></li>
                  <li><a id="sHTML-tut" href="/HTML-tut">HTML tutorial</a></li>
                </ul>
              </li>
              <li>
                CSS
                <ul>
                  <li><a id="sCSS-int" href="/CSS-int">CSS intro</a></li>
                  <li><a  id="sCSS-tut" href="/CSS-tut">CSS tutorial</a></li>
                </ul>
              </li>
              <li>
                JS
                <ul>
                  <li><a id="sJS-int" href="/JS-int">JS intro</a></li>
                  <li><a id="sJS-tut" href="/JS-tut">JS tutorial</a></li>
                </ul>
              </li>
              <li>
                Python/Bottle
                <ul>
                  <li><a id="sPB-int" href="/PB-int">Python/Bottle intro</a></li>
                  <li><a id="sPB-tut" href="/PB-tut">Python/Bottle tutorial</a></li>
                </ul>
              </li>
              <li>
                PHP
                <ul>
                  <li><a id="sPHP-int" href="/PHP-int">PHP intro</a></li>
                  <li><a id="sPHP-tut" href="/PHP-tut">PHP tutorial</a></li>
                </ul>
              </li>
              <li>
                SQL
                <ul>
                  <li><a id="sSQL-int" href="/SQL-int">SQL intro</a></li>
                  <li><a id="sSQL-tut" href="/SQL-tut">SQL tutorial</a></li>
                </ul>
              </li>
              <li>
                MySQL
                <ul>
                  <li><a id="sMysql-int" href="/Mysql-int">MySQL intro</a></li>
                  <li><a id="sMysql-tut" href="/Mysql-tut">MySQL tutorial</a></li>
                </ul>
              </li>
              <li>
                SQLite
                <ul>
                  <li><a id="sSQLite-int" href="/SQLite-int">SQLite intro</a></li>
                  <li><a id="sSQLite-tut" href="/SQLite-tut">SQLite tutorial</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </aside>
      <div class="content-body">
        <h2>SQLite introduction</h2>
        <h3>What Is SQLite?</h3>
        <p>SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. SQLite is the most useddatabase engine in the world. SQLite is built into all mobile phones and most computers and comes bundled inside countless other applications that people use every day.</p>
        <p>The SQLite file format is stable, cross-platform, and backwards compatible and the developers pledge to keep it that way through at least the year 2050. SQLite database files are commonly used as containers to transfer rich content between systems and as a long-term archival format for data. There are over 1 trillion (1e12) SQLite databases in active use</p>
        <p>SQLite is a database engine. It is software that allows users to interact with a relational database. In SQLite, a database is stored in a single file — a trait that distinguishes it from other database engines. This fact allows for a great deal of accessibility: copying a database is no more complicated than copying the file that stores the data, sharing a database can mean sending an email attachment.</p>
        <h3>DRAWBACKS TO SQLITE</h3>
        <p>SQLite’s signature portability unfortunately makes it a poor choice when many different users are updating the table at the same time (to maintain integrity of data, only one user can write to the file at a time). It also may require some more work to ensure the security of private data due to the same features that make SQLite accessible. Furthermore, SQLite does not offer the same exact functionality as many other database systems, limiting some advanced features other relational database systems offer. Lastly, SQLite does not validate data types. Where many other database software would reject data that does not conform to a table’s schema, SQLite allows users to store data of any type into any column. </p>
        <p>https://www.w3schools.com/sql/sql_and_or.asp</p>
        <h3>USES FOR SQLITE</h3>
        <p>Even considering the drawbacks, the benefits of being able to access and manipulate a database without involving a server application are huge. SQLite is used worldwide for testing, development, and in any other scenario where it makes sense for the database to be on the same disk as the application code. SQLite’s maintainers consider it to be among the most replicated pieces of software in the world.
</p>
<p>https://www.blog.pythonlibrary.org/2012/07/18/python-a-simple-step-by-step-sqlite-tutorial/</p>
     </div>
    </main>
  </body>
</html>
